<?xml version="1.0"?> 
<launch>

    <arg name="serial_port" default="/dev/ttyUSB0" />
    <arg name="frame_id" default="bno055_trunk" />
    <arg name="operation_mode" default="NDOF"/>
    <arg name="oscillator" default="INTERNAL" />
    <arg name="reset_orientation" default="true" />
    <arg name="frequency" default="100" /> 
    <arg name="use_magnetometer" default="true" />
    <arg name="use_temperature" default="true" /> 


    <node pkg="bno055" type="bno055_main.py" name="$(arg frame_id)" output="screen">
        <param name="serial_port" value="$(arg serial_port)" />
        <param name="frame_id" value="$(arg frame_id)" />
        <param name="operation_mode" value="$(arg operation_mode)" />
        <param name="oscillator" value="$(arg oscillator)" />
        <param name="reset_orientation" value = "$(arg reset_orientation)" />
        <param name="frequency" value="$(arg frequency)" />
        <param name="use_magnetometer" value="$(arg use_magnetometer)" />    
        <param name="use_temperature" value="$(arg use_temperature)" />    
    </node>

</launch>